# Created by https://www.gitignore.io/api/godot
# Edit at https://www.gitignore.io/?templates=godot

### Godot ###

# Godot-specific ignores
.godot/
export_presets.cfg

# Mono-specific ignores
.mono/

# End of https://www.gitignore.io/api/godot
